.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aquamarine;
}

.header_button{
    display: flex;
    gap: 1rem;   
}

.header_button button{
    border: 0;
    background-color: rgb(35, 187, 86);
    width: 6rem;
    height: 2rem;
    border-radius: .5rem;
    color: white;
    font-weight: 600;
    font-size: medium;
}

.header_button button:hover{
    background-color: burlywood;
}